{{#if _shouldShow}}
    {{#modal-dialog wrapperClass="textup-modal"
        containerClass="textup-modal__container"
        overlayClass="textup-modal__overlay"
        onClose=(action (mut _shouldShow) false)
        translucentOverlay=true}}
        <div class="textup-modal__body">
            {{_message}}
        </div>
        <div class="textup-modal__footer">
            <button type="button"
                class="btn btn-default btn-plain btn-span"
                onclick={{action (mut _shouldShow) false}}>
                Got it
            </button>
        </div>
    {{/modal-dialog}}
{{/if}}
