<button type='button'
    onclick={{action _startRecording}}>
    Start recording
</button>
<button type='button'
    onclick={{action _stopRecording}}>
    Stop recording
</button>

<audio controls autoplay></audio>

<a href="" download>Download</a>
