{{#each _displayedAudio as |audio index|}}
    <div class="audio-wrapper__player-item flex flex--spacing-between {{itemClass}}">
        {{audio-player classNames="flex__item flex__item--grow" audio=audio}}
        {{yield audio index}}
    </div>
{{/each}}

{{yield to="inverse"}}
