<div class="contacts-load__container">
  <span class="contacts-load__label">
    Imported {{numSaved}} of {{numTotal}} contacts
  </span>
  <div class="contacts-load__loading-container">
    <div class="contacts-load__loading-bar"/ style={{_progressWidth}}></div>
  </div>
</div>
