<div class="input-group text-center">
    {{#if (not isMarkedForDelete)}}
        <div class="input-group-addon">
            {{#tool-tip tagName="span" title="Delete"}}
                <button class="btn-span btn btn-plain btn-danger" type="button"
                    onclick={{optional-action onMarkForDelete}}>
                    <span class="fa fa-trash-o"></span>
                </button>
            {{/tool-tip}}
        </div>
    {{/if}}
    {{#if (or isDirty isMarkedForDelete)}}
        <div class="input-group-addon">
            {{#tool-tip tagName="span" title="Undo"}}
                <button class="btn-span btn btn-plain" type="button"
                    onclick={{if isMarkedForDelete (optional-action onUndoDelete) (optional-action onCancel)}}>
                    <span class="fa fa-undo"></span>
                </button>
            {{/tool-tip}}
        </div>
        <div class="input-group-addon">
            {{#if isMarkedForDelete}}
                {{#action-button class="btn-span btn btn-plain btn-danger"
                    onAction=(optional-action onSave)}}
                    Delete
                {{/action-button}}
            {{else}}
                {{#tool-tip tagName="span" title="Update"}}
                    {{#action-button class="btn-span btn btn-plain"
                        disabled=(not isValid)
                        onAction=(optional-action onSave)}}
                        Update
                    {{/action-button}}
                {{/tool-tip}}
            {{/if}}
        </div>
    {{/if}}
</div>
