{{#if _isLoading}}
  Validating...
  <span class="fa fa-circle-o-notch fa-spin"></span>
{{/if}}

<div class="lock-pad__indicator-container">
  {{#each _valIndices as |val index|}}
    {{lock-pad/indicator indicatorNum=(plus index 1) numFilled=_valLength}}
  {{/each}}
</div>

{{number-control val=val
  numDigits=totalPadDigits
  hasError=_isError
  doChange=(action _doUpdateVal)}}
