<div class="multi-toggle-items">
	{{yield publicAPI (action 'registerItem')}}
</div>
<div class="left-toggle">
	<span class="fa fa-chevron-left"></span>
</div>
<div class="right-toggle">
	<span class="fa fa-chevron-right"></span>
</div>
