<li class="xs-row-3 number-control-item" data-value="1">
    <div class="number-control-label">
        1
    </div>
</li>
<li class="xs-row-3 number-control-item" data-value="2">
    <div class="number-control-label">
        2
        <div class="alphabet-label">ABC</div>
    </div>
</li>
<li class="xs-row-3 number-control-item" data-value="3">
    <div class="number-control-label">
        3
        <div class="alphabet-label">DEF</div>
    </div>
</li>
<div class="xs-new-row"></div>
<li class="xs-row-3 number-control-item" data-value="4">
    <div class="number-control-label">
        4
        <div class="alphabet-label">GHI</div>
    </div>
</li>
<li class="xs-row-3 number-control-item" data-value="5">
    <div class="number-control-label">
        5
        <div class="alphabet-label">JKL</div>
    </div>
</li>
<li class="xs-row-3 number-control-item" data-value="6">
    <div class="number-control-label">
        6
        <div class="alphabet-label">MNO</div>
    </div>
</li>
<div class="xs-new-row"></div>
<li class="xs-row-3 number-control-item" data-value="7">
    <div class="number-control-label">
        7
        <div class="alphabet-label">PQRS</div>
    </div>
</li>
<li class="xs-row-3 number-control-item" data-value="8">
    <div class="number-control-label">
        8
        <div class="alphabet-label">TUV</div>
    </div>
</li>
<li class="xs-row-3 number-control-item" data-value="9">
    <div class="number-control-label">
        9
        <div class="alphabet-label">WXYZ</div>
    </div>
</li>
<div class="xs-new-row"></div>
<li class="xs-row-3 number-control-remove">
    <div class="number-control-label">
        <span class="fa fa-undo"></span>
    </div>
</li>
<li class="xs-row-3 number-control-item" data-value="0">
    <div class="number-control-label">
        0
        <div class="alphabet-label">+</div>
    </div>
</li>
