<li class="xs-row-3 number-control-item" data-value="1">
    <div class="number-control-label">1</div>
</li>
<li class="xs-row-3 number-control-item" data-value="2">
    <div class="number-control-label">2</div>
</li>
<li class="xs-row-3 number-control-item" data-value="3">
    <div class="number-control-label">3</div>
</li>
<div class="xs-new-row"></div>
<li class="xs-row-3 number-control-item" data-value="4">
    <div class="number-control-label">4</div>
</li>
<li class="xs-row-3 number-control-item" data-value="5">
    <div class="number-control-label">5</div>
</li>
<li class="xs-row-3 number-control-item" data-value="6">
    <div class="number-control-label">6</div>
</li>
<div class="xs-new-row"></div>
<li class="xs-row-3 number-control-item" data-value="7">
    <div class="number-control-label">7</div>
</li>
<li class="xs-row-3 number-control-item" data-value="8">
    <div class="number-control-label">8</div>
</li>
<li class="xs-row-3 number-control-item" data-value="9">
    <div class="number-control-label">9</div>
</li>
<div class="xs-new-row"></div>
<li class="xs-row-3 number-control-remove">
    <div class="number-control-label">
        <span class="fa fa-undo"></span>
    </div>
</li>
<li class="xs-row-3 number-control-item" data-value="0">
    <div class="number-control-label">0</div>
</li>
