{{#if (and onAdd (not readOnly))}}
    {{photo-control/add classNames=addComponentClass
        labelClass="photo-control__add-control"
        onAdd=onAdd}}
{{/if}}
{{#component imageDisplayComponent
    images=images
    itemClass="photo-control__item" as |image index|}}
    {{#if (not readOnly)}}
        <button type='button'
            class="photo-control__remove"
            onclick={{action _doRemove image index}}>
            <span class="icon-x"></span>
        </button>
    {{/if}}
{{/component}}
