{{#component imageDisplayComponent
    images=images
    itemClass="photo-control__item" as |image index|}}
    {{#if (not readOnly)}}
        <button type='button'
            class="photo-control__remove"
            onclick={{action _doRemove image index}}>
            <span class="fa fa-times"></span>
        </button>
    {{/if}}
{{/component}}

{{#if (and onAdd (not readOnly))}}
    {{photo-control/add onAdd=onAdd}}
{{/if}}
