{{#if headerComponent}}
    {{component headerComponent doClose=(action _close true)}}
{{/if}}

<div class="slideout-pane__body {{bodyClass}}" tabindex="-1">
    {{yield publicAPI}}
</div>

{{#if footerComponent}}
    {{component footerComponent doClose=(action _close true)}}
{{/if}}
