{{#if headerComponent}}
    {{component headerComponent onClose=(action _close true)}}
{{/if}}

<div class="slideout-pane__body {{bodyClass}}" tabindex="-1">
    {{yield _publicAPI}}
</div>

{{#if footerComponent}}
    {{component footerComponent onClose=(action _close true)}}
{{/if}}
