{{component headerComponent doClose=(action 'forceClose') props=headerProps}}

<div class="slideout-pane__body">
    {{yield publicAPI}}
</div>

{{#if footerComponent}}
	{{component footerComponent doClose=(action 'forceClose') props=footerProps}}
{{/if}}
