{{#if staff.isAdmin}}
    {{#tool-tip tagName="span" title="Admin"}}
        <span class="fa-stack text-smaller">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
    {{/tool-tip}}
{{/if}}
{{#if staff.phone.content}}
    {{#if staff.phone.content.isActive}}
        {{#tool-tip tagName="span"
            title=(concat "TextUp Phone " (phone-number staff.phone.content.number))}}
            <span class="fa-stack text-smaller">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
            </span>
        {{/tool-tip}}
    {{else}}
        {{#tool-tip class="text-lighten"
            tagName="span" title="Has inactive phone"}}
            <span class="fa-stack text-smaller">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
            </span>
        {{/tool-tip}}
    {{/if}}
{{/if}}
