{{#if _dateMissing}}
    No scheduled messages
{{else if _isInPast}}
    Scheduled message sent <span class="text-bold">{{moment-from-now nextFutureFire interval=1000}}</span>
{{else}}
    Next scheduled message <span class="text-bold">{{moment-from-now nextFutureFire interval=1000}}</span>
{{/if}}
