// rows and row items for distributing items horizontally
// stack items for distributing items vertically
.row {
	@extend %clearfix;
	box-sizing: border-box;
	display: block;
	width: 100%;
	position: relative;
}
.full-height {
	height: 100%;
}
.min-viewport-height {
	min-height: 100vh;
}
// remainder breakpoints with appropriate media query
// in order of smallest breakpoint to largest
$abbrs: map-values($breakpoint-abbrs);
@for $i from 1 through length($breakpoint-abbrs) {
	$breakpoint-abbr: nth($breakpoint-abbrs, $i);
	$breakpoint: nth($breakpoint-abbr, 1);
	$abbr: nth($breakpoint-abbr, 2);
	// mobile first: smallest breakpoint has no media query
	@if $i == 1 {
		.#{$abbr}-full-row {
			box-sizing: border-box;
			width: 100%;
		}
		@include responsive-grid('row', $abbr, width, $grid-splits) {
			box-sizing: border-box;
			float: left;
		}
		@include responsive-display('display', $abbr, $abbrs);
		@include responsive-clear('new-row', $abbr, $abbrs);
	} @else {
		@include mq($from: $breakpoint) {
			.#{$abbr}-full-row {
				box-sizing: border-box;
				width: 100%;
			}
			@include responsive-grid('row', $abbr, width, $grid-splits) {
				box-sizing: border-box;
				float: left;
			}
			@include responsive-display('display', $abbr, $abbrs);
			@include responsive-clear('new-row', $abbr, $abbrs);
		}
	}
}
