.flex {
    display: flex;
    align-items: center;

    &--direction-vertical {
        flex-direction: column;

        & > .flex__item {
            min-height: 0px;
        }
    }
    &--spacing {
        &-between .flex__item {
            padding: 0 ($baseunit / 2);

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        &-all .flex__item {
            padding: 0 ($baseunit / 2);

            &:first-child {
                padding-left: $baseunit;
            }
            &:last-child {
                padding-right: $baseunit;
            }
        }
    }
    &--align {
        &-stretch {
            align-items: stretch;
        }
        &-start {
            align-items: flex-start;
        }
    }
    &--justify {
        &-center {
            justify-content: center;
        }
        &-spread {
            justify-content: space-between;
        }
        &-end {
            justify-content: flex-end;
        }
    }

    &__item {
        min-width: 0;
        flex-grow: 0;

        &--grow {
            flex-grow: 1;
        }
        &--no-shrink {
            flex-shrink: 0;
        }
        &--single-line {
            display: flex; // default no-wrap
        }
    }
}
