{{#if contact.isShared}}
    <span class="display-xs display-s display-m">
        <span class="badge text-smaller">Shared</span>
    </span>
    <span class="display-l">
        {{#tool-tip tagName='span'
            classNames='badge text-smaller'
            title=(concat (if contact.isSharedDelegate
                'Collaborating with '
                (if contact.isSharedView 'Viewing only from ' 'Shared by')) contact.sharedBy)}}
            Shared
        {{/tool-tip}}
    </span>
{{/if}}
