<div class="infinite-scroll__pull-to-refresh__content" style={{_contentOverscrollStyle}}>
    {{yield}}
</div>
<div class="infinite-scroll__pull-to-refresh__message">
    <span class="pad-r">{{refreshMessage}}</span>
    <span class="fa fa-circle-o-notch fa-spin"></span>
</div>
