<div class="form__group">
    <label class="form__label" for="Staff Name">Staff Name</label>
    {{input value=newStaff.name
        type="text"
        placeholder="Staff Name"
        class="form__input start-focus"
        validateObj=newStaff
        validateField='name'
        validate='bottom'}}
</div>
<div class="form__group">
    <label class="form__label" for="Username">Username</label>
    {{input value=newStaff.username
        type="text"
        placeholder="Username"
        class="form__input"
        autocorrect="off"
        autocapitalize="off"
        validateObj=newStaff
        validateField='username'
        validate='bottom'}}
</div>
<div class="form__group">
    <label class="form__label" for="Staff Email">Staff Email</label>
    {{input value=newStaff.email
        type="email"
        placeholder="Staff Email"
        class="form__input"
        validateObj=newStaff
        validateField='email'
        validate='bottom'}}
</div>
{{form/phone-owner-actions owner=newStaff}}
