<div class='form__group'>
    <label for='Staff Name' class='form__label'>Staff Name</label>
    {{input value=staff.name
        type='text'
        placeholder='Staff Name'
        class='form__input'
        validateObj=staff
        validateField='name'
        validate='bottom'}}
</div>
<div class='form__group'>
    <label for='Staff Email' class='form__label'>Staff Email</label>
    {{input value=staff.email
        type='email'
        placeholder='Staff Email'
        class='form__input'
        validateObj=staff
        validateField='email'
        validate='bottom'}}
</div>
{{partial 'partials/staff/personal-number'}}
<hr>
{{form/phone-owner-actions owner=staff}}
