<div class='form-element pad-l pad-r'>
    <label for='Staff Name' class='control-label'>Staff Name</label>
    {{input value=staff.name
        type='text'
        placeholder='Staff Name'
        class='form-control'
        validateObj=staff
        validateField='name'
        validate='bottom'}}
</div>
<div class='form-element pad-l pad-r'>
    <label for='Staff Email' class='control-label'>Staff Email</label>
    {{input value=staff.email
        type='email'
        placeholder='Staff Email'
        class='form-control'
        validateObj=staff
        validateField='email'
        validate='bottom'}}
</div>
{{partial 'partials/staff/personal-number'}}
<hr>
{{#with staff as |owner|}}
    <div class="pad-l pad-r">
        {{partial 'partials/change-number'}}
    </div>
{{/with}}
