{{#hide-away tabindex=false
    classNames='input-group-element'
    clickOutToClose=false
    animation='fade'
    onClose=(action 'clearNew')
    allowedTriggerSelectors='.edit-personal-phone'
    hideTriggerOnOpen=true as |hideAway|}}
    <div class="input-group">
        <span class="input-group-addon">
            <button class='btn' type='button'
                onclick={{hideAway.actions.close}}>
                <span class="fa fa-times"></span>
            </button>
        </span>
        {{#phone-control number=staff.newPersonalNumber
            controlClass='blend-in'
            onChange=(action 'storeNewPersonalNumber')
            onClick=(action 'updatePersonalNumber')
            forceDefaultValidate=true
            onValidate=(action 'validatePersonalNumber' hideAway.actions.close)}}
        {{else}}
            <span class='fa fa-arrow-right'></span>
        {{/phone-control}}
    </div>
{{else}}
    {{#phone-control number=staff.personalPhoneNumber
        showControl=true
        controlClass='blend-in edit-personal-phone'}}
    {{else}}
        <span class='fa fa-pencil'></span>
    {{/phone-control}}
{{/hide-away}}
