<div class='form-element'>
    <label for='Your Name' class='control-label'>Your Name</label>
    {{input value=staff.name
        type='text'
        placeholder='Your Name'
        class='form-control'
        validateObj=staff
        validateField='name'
        validate='bottom'}}
</div>
<div class='form-element'>
    <label for='Email' class='control-label'>Email</label>
    {{input value=staff.email
        type='email'
        placeholder='Email'
        class='form-control'
        validateObj=staff
        validateField='email'
        validate='bottom'}}
</div>
<div class='form-element'>
    <label for='Personal Phone' class='control-label'>Personal Phone</label>
    {{partial 'partials/staff/personal-number'}}
</div>
{{#if staff.phone}}
    <div class='form-element'>
        <label for='TextUp Phone' class='control-label'>TextUp Phone</label>
        {{phone-control number=staff.phone}}
    </div>
{{/if}}
