{{#slideout-pane
    headerProps=(hash title='New Team')
    footerComponent=constants.SLIDEOUT.FOOTER.ACTIONS
    footerProps=(hash
        showFooter=true
        doPrimary=(route-action 'createTeam' newTeam
            (route-action "closeSlideout"))
        disablePrimary=(not (v-get newTeam 'isValid'))
        primaryLabel="Create"
        primaryProgressLabel="Creating...")
    onOpen=(route-action 'initializeNewTeam')
    doClose=(route-action 'revert' newTeam
        (route-action "closeSlideout"))
    forceKeepOpen=newTeam.isSaving
    focusSelector='.start-focus' as |slideout|}}
    <div class="pad-t">
        {{partial 'partials/team/create-edit'}}
    </div>
    {{form/location-model entity=newTeam onLocationError=(route-action 'mapError')}}
{{/slideout-pane}}
