{{#slideout-pane
    headerComponent=(component "slideout-pane/title"
        title=(service-prop "slideout/teamMembershipService" "slideoutTitle"))
    footerComponent=(component "slideout-pane/actions"
        showFooter=(service-prop "slideout/teamMembershipService" "anyTeamChanges")
        onPrimary=(service-action "slideout/teamMembershipService" "finishSlideout")
        primaryLabel="Update"
        primaryProgressLabel="Updating...")
    direction=(constant "SLIDEOUT.DIRECTION.RIGHT")
    onClose=(service-action "slideout/teamMembershipService" "cancelSlideout") as |slideout|}}
    {{#multi-toggle/group-by-bucket anyChanges=(get (service "slideout/teamMembershipService") "anyTeamChanges")
        itemBucketProperty=(constant "MODEL_NAME.TEAMS")
        items=(service-prop "slideout/teamMembershipService" "staffs")
        buckets=(service-prop "slideout/teamMembershipService" "teams") as |team|}}
            {{color-badge color=team.hexColor text=team.name}}
    {{else}}
        <li class="no-results">No teams yet.</li>
    {{/multi-toggle/group-by-bucket}}
{{/slideout-pane}}
