<div class="hint__drawer__body">
  <div class="hint__drawer__body__hint-title">
    {{hintTitle}}
  </div>
  <div class="hint__drawer__body__hint-text">{{hintText}}</div>
  {{#if closeButton}}
  <button
    class="hint__drawer__body__close-button"
    onclick={{action closeWindow}}>
    Got it!
  </button>
  {{/if}}
</div>
