{{#slideout-pane
    headerProps=(hash title='Note History')
    direction=constants.SLIDEOUT.DIRECTION.RIGHT
    doClose=(route-action "finishViewNoteHistorySlideout") as |slideout|}}
    <ul class="result-list">
        {{#each viewingRecordNote.revisions as |revision index|}}
            {{#record-note-revision classNames="result-item"
                tagName="li"
                revision=revision}}
                {{#if (eq index 0)}}
                    <span class="badge text-smaller">Previous</span>
                {{/if}}
            {{/record-note-revision}}
        {{/each}}
    </ul>
{{/slideout-pane}}
