{{#slideout-pane
    headerComponent=(component "slideout-pane/title" title="Note History")
    direction=(constant "SLIDEOUT.DIRECTION.RIGHT")
    onClose=(service-action "slideoutService" "closeSlideout") as |slideout|}}
    <ul class="result-list">
        {{#each (service-prop "noteRevisionSlideoutService" "recordNote.revisions") as |revision index|}}
            {{#record-note-revision classNames="result-item"
                tagName="li"
                revision=revision}}
                {{#if (eq index 0)}}
                    <span class="badge text-smaller">Previous</span>
                {{/if}}
            {{/record-note-revision}}
        {{/each}}
    </ul>
{{/slideout-pane}}
