{{#slideout-pane
    headerProps=(hash title='New Tag')
    footerComponent="slideout-pane/actions"
    footerProps=(hash
        showFooter=true
        doPrimary=(route-action 'createTag' newTag (route-action 'closeAllSlideouts'))
        disablePrimary=(not (v-get newTag 'isValid'))
        primaryLabel="Create"
        primaryProgressLabel="Creating...")
    onOpen=(route-action 'initializeNewTag')
    doClose=(route-action 'revert' newTag (route-action 'closeAllSlideouts'))
    forceKeepOpen=newTag.isSaving
    focusSelector='.start-focus' as |slideout|}}
    <div class="pad-t pad-l pad-r">
        {{partial 'partials/tag/create-edit'}}
    </div>
{{/slideout-pane}}
