{{#slideout-pane title='New Tag'
    direction='left'
    closeActionName='closeSlideout'
    ignoreCloseSelectors='.header-slideout' as |slideout|}}
    <div class="pad-t pad-l pad-r">
        {{partial 'partials/create-edit-tag'}}
    </div>
    <div class="horizontal-items text-center margin-t-double margin-b">
        <div class="clear-badge no-space">
            <button class="btn" type='button'
                onclick={{slideout.actions.close}}>
                Cancel
            </button>
        </div>
        <div class="clear-badge no-space">
            <button class="btn btn-default" type='button'
                onclick={{slideout.actions.close}}>
                Create
            </button>
        </div>
    </div>
{{/slideout-pane}}
