{{#slideout-pane
    headerProps=(hash title=(concat 'Edit ' tag.name))
    footerComponent="slideout-pane/actions"
    footerProps=(hash
        showFooter=true
        doPrimary=(route-action 'persist' tag (route-action 'closeAllSlideouts'))
        disablePrimary=(not (v-get tag 'isValid'))
        primaryLabel=(if tag.isDeleted 'Confirm Delete' 'Update')
        primaryProgressLabel=(if tag.isDeleted 'Deleting...' 'Updating')
        primaryClass=(if tag.isDeleted 'btn btn-danger')
        secondaryLabel=(if tag.isDeleted 'Undo')
        doSecondary=(if tag.isDeleted (route-action 'revert' tag))
        showDelete=(not tag.isDeleted)
        doMarkForDelete=(route-action 'markForDelete' tag))
    direction=constants.SLIDEOUT.DIRECTION.RIGHT
    doClose=(route-action 'revert' tag (route-action 'closeAllSlideouts'))
    forceKeepOpen=tag.isSaving
    focusSelector='.start-focus' as |slideout|}}
    <div class="pad-t pad-l pad-r">
        {{#with tag as |newTag|}}
            {{partial 'partials/tag/create-edit'}}
        {{/with}}
    </div>
{{/slideout-pane}}
