{{#slideout-pane
    headerProps=(hash title=(if model.phone.content.tags 'Tags' 'New Tag'))
    footerComponent="slideout-pane/actions"
    footerProps=(hash
        showFooter=tagsListHideAway.isOpen
        doPrimary=(route-action 'createTag' newTag tagsListHideAway.actions.close)
        disablePrimary=(not (v-get newTag 'isValid'))
        primaryLabel="Create"
        primaryProgressLabel="Creating..."
        doSecondary=(route-action 'revert' newTag tagsListHideAway.actions.close)
        hideSecondary=(not model.phone.content.tags))
    doClose=(route-action 'revert' newTag (route-action 'closeAllSlideouts'))
    forceKeepOpen=newTag.isSaving as |slideout|}}
    {{#hide-away clickOutToClose=false
        animation='fade'
        ignoreTriggerSelectors='.result-list'
        bodyFocusOnOpenSelector='.start-focus'
        startOpen=(if model.phone.content.tags false true)
        doRegister=(action (mut tagsListHideAway))
        onOpen=(route-action 'initializeNewTag')
        onClosed=(route-action 'revert' newTag)
        tabindex=false
        hideTriggerOnOpen=true as |hideAway|}}
        <div class="pad-t pad-l pad-r">
            {{partial 'partials/tag/create-edit'}}
        </div>
    {{else}}
         <ul class="result-list">
            {{#if model.phone.isFulfilled}}
                {{#each model.phone.content.tags as |tag|}}
                    <li class="result-item">
                        <div class="row">
                            {{#link-to 'main.tag' tag
                                tagName='div'
                                classNames='control-text'
                                tabindex='0'}}
                                <div class="horizontal-items clickable pad-all">
                                    {{preview-badge color=tag.hexColor
                                        onlyShowFull=true
                                        content=tag.name}}
                                    <span class="badge">
                                        {{tag.numMembers}}
                                        <span class="fa fa-user"></span>
                                    </span>
                                </div>
                            {{/link-to}}
                        </div>
                    </li>
                {{/each}}
            {{/if}}
        </ul>
        <button class="btn btn-span" type='button'>
            <span class="fa fa-plus"></span>
        </button>
    {{/hide-away}}
{{/slideout-pane}}
