{{#slideout-pane title=(if selected
        (concat 'Tags (' selected.length ' selected)')
        (concat contact.name ' Tags'))
    direction='right'
    closeActionName='closeSlideout'
    ignoreCloseSelectors='.header-slideout' as |slideout|}}
    <div class="input-group">
        <div class="input-group-addon">
            <button class="btn btn-span" type='button'>
                Cancel
            </button>
        </div>
        <div class="input-group-addon">
            <button class="btn btn-default btn-span" type='button'>
                Update
            </button>
        </div>
    </div>
    {{#multi-toggle/group-by-bucket itemBucketProperty='tags'
        items=(if selected selected contact)
        buckets=mainModel.tags as |tag|}}
            {{preview-badge color=tag.hexColor onlyShowFull=true content=tag.name}}
    {{else}}
        <li class="no-results">No tags yet.</li>
    {{/multi-toggle/group-by-bucket}}
{{/slideout-pane}}
