{{#slideout-pane
    headerProps=(hash title=(if selected
        (concat 'Tags (' selected.length ' selected)')
        (concat contact.name ' Tags')))
    footerComponent="slideout-pane/actions"
    footerProps=(hash
        showFooter=tagsHaveActions
        doPrimary=(if stateManager.owner.phone.isFulfilled
            (route-action 'updateTagMemberships'
                stateManager.owner.phone.content.tags (if selected selected contact)
                    (route-action 'clearList' stateManager.owner.phone.content.tags
                        'actions' (route-action 'closeAllSlideouts'))))
        primaryLabel="Update"
        primaryProgressLabel="Updating...")
    direction=constants.SLIDEOUT.DIRECTION.RIGHT
    doClose=(route-action 'clearList'
        (and stateManager.owner.phone.isFulfilled
            stateManager.owner.phone.content.tags)
        'actions'
        (route-action 'closeAllSlideouts')) as |slideout|}}
    {{#multi-toggle/group-by-bucket anyChanges=(mut tagsHaveActions)
        itemBucketProperty='tags'
        items=(if selected selected contact)
        buckets=(and stateManager.owner.phone.isFulfilled
            stateManager.owner.phone.content.tags)  as |tag|}}
            {{preview-badge color=tag.hexColor onlyShowFull=true content=tag.name}}
    {{else}}
        <li class="no-results">No tags yet.</li>
    {{/multi-toggle/group-by-bucket}}
{{/slideout-pane}}
