{{#slideout-pane title=(if selected
        (concat 'Tags (' selected.length ' selected)')
        (concat contact.name ' Tags'))
    direction='right'
    doClose=(route-action 'clearList'
        (and stateManager.owner.phone.isFulfilled
            stateManager.owner.phone.content.tags)
        'actions'
        (route-action 'closeAllSlideouts'))
    ignoreCloseSelectors='.header-slideout, .c-notification__container' as |slideout|}}
    {{#if tagsHaveActions}}
        <div class="horizontal-items text-center pad-all bg-color border-b">
            <div class="clear-badge no-space">
                <button class="btn" type='button'
                    onclick={{slideout.actions.close}}>
                    Cancel
                </button>
            </div>
            <div class="clear-badge no-space">
                {{async-button classNames='btn btn-default'
                    action=(route-action 'updateTagMemberships'
                        (and stateManager.owner.phone.isFulfilled
                            stateManager.owner.phone.content.tags)
                        (if selected selected contact)
                        slideout.actions.close)
                    default='Update'
                    pending='Updating...'}}
            </div>
        </div>
    {{/if}}
    {{#multi-toggle/group-by-bucket anyChanges=(mut tagsHaveActions)
        itemBucketProperty='tags'
        items=(if selected selected contact)
        buckets=(and stateManager.owner.phone.isFulfilled
            stateManager.owner.phone.content.tags)  as |tag|}}
            {{preview-badge color=tag.hexColor onlyShowFull=true content=tag.name}}
    {{else}}
        <li class="no-results">No tags yet.</li>
    {{/multi-toggle/group-by-bucket}}
{{/slideout-pane}}
