<div class="single-body">
	<div class="single-body-header">
		<h5 class="text-center pad-b">Almost done!</h5>
		<p class='text-justify'>Harness the power of TextUp by <b>connecting your personal cell phone to your account.</b> Please enter your personal cell phone below to get started. We'll send you a text message to verify that this phone number belongs to you.</p>
	</div>
	<div class="single-body-content">
		{{phone-control number=personalNumber
            controlButtonClass='blend-in'
            controlButtonClass='btn-default'
            forceAllowChanges=true
            onClick=(action 'updateNumber')
            onValidate=(action 'validateNumber')}}
	</div>
	<div class="single-body-footer text-center">
		{{link-to "Finish" "main.contacts" tagName="button" classNames="btn btn-default"}}
        {{!-- <button class='btn btn-default'>Next</button> --}}
    </div>
</div>
