{{#slideout-pane title='New Team'
    direction='left'
    onOpen=(route-action 'initializeNewTeam')
    doClose=(route-action 'revert' newTeam (route-action 'closeAllSlideouts'))
    ignoreCloseSelectors='.header-slideout'
    focusSelector='.start-focus' as |slideout|}}
    <div class="pad-t">
        {{partial 'partials/team/create-edit'}}
    </div>
    <div class="horizontal-items text-center margin-t-double margin-b">
        <div class="clear-badge no-space">
            <button class="btn" type='button'
                onclick={{slideout.actions.close}}>
                Cancel
            </button>
        </div>
        <div class="clear-badge no-space">
            <button class="btn btn-default" type='button'
                disabled={{not (v-get newTeam 'isValid')}}
                {{action 'createTeam' newTeam (route-action 'closeAllSlideouts')}}>
                Create
            </button>
        </div>
    </div>
{{/slideout-pane}}
