{{#slideout-pane title=(if people
        (concat 'Teams (' people.length ' selected)')
        (concat person.name ' Teams'))
    direction='right'
    doClose=(route-action 'clearList' stateManager.owner.teams 'actions'
        (route-action 'closeAllSlideouts'))
    ignoreCloseSelectors='.header-slideout' as |slideout|}}
    {{#if teamsHaveActions}}
        <div class="horizontal-items text-center pad-all bg-color border-b">
            <div class="clear-badge no-space">
                <button class="btn" type='button'
                    onclick={{slideout.actions.close}}>
                    Cancel
                </button>
            </div>
            <div class="clear-badge no-space">
                <button class="btn btn-default" type='button'
                    {{action 'updateTeamMemberships' stateManager.owner.teams
                        (if people people person)
                        (route-action 'closeAllSlideouts')}}>
                    Update
                </button>
            </div>
        </div>
    {{/if}}
    {{#multi-toggle/group-by-bucket anyChanges=(mut teamsHaveActions)
        itemBucketProperty='teams'
        items=(if people people person)
        buckets=stateManager.owner.teams as |team|}}
            {{preview-badge color=team.hexColor onlyShowFull=true content=team.name}}
    {{else}}
        <li class="no-results">No teams yet.</li>
    {{/multi-toggle/group-by-bucket}}
{{/slideout-pane}}
