{{#slideout-pane
    headerProps=(hash title='Schedule Message')
    footerComponent="slideout-pane/actions"
    footerProps=(hash
        showFooter=true
        doPrimary=(route-action 'createFutureMsg' newFutureMsg
            (route-action 'closeAllSlideouts'))
        disablePrimary=(not (v-get newFutureMsg 'isValid'))
        primaryLabel="Schedule"
        primaryProgressLabel="Scheduling...")
    direction=constants.SLIDEOUT.DIRECTION.RIGHT
    focusSelector='.start-focus'
    forceKeepOpen=newFutureMsg.isSaving
    onOpen=(route-action 'initializeFutureMsg')
    doClose=(route-action 'revert' newFutureMsg
        (route-action 'closeAllSlideouts')) as |slideout|}}
    <div class="pad-t">
        {{#with newFutureMsg as |futureMsg|}}
            {{partial 'partials/future-message/create-edit'}}
        {{/with}}
    </div>
{{/slideout-pane}}
