{{#slideout-pane title='Schedule Message'
    direction='right'
    ignoreCloseSelectors='.header-slideout, .c-notification__container, .datetime-control-wormhole'
    focusSelector='.start-focus'
    forceKeepOpen=newFutureMsg.isSaving
    onOpen=(route-action 'initializeFutureMsg')
    doClose=(route-action 'revert' newFutureMsg
        (route-action 'closeAllSlideouts')) as |slideout|}}
    <div class="pad-t">
        {{#with newFutureMsg as |futureMsg|}}
            {{partial 'partials/future-message/create-edit'}}
        {{/with}}
    </div>
    <div class="horizontal-items text-center margin-t-double margin-b">
        <div class="clear-badge no-space">
            <button class="btn" type='button'
                onclick={{slideout.actions.close}}>
                Cancel
            </button>
        </div>
        <div class="clear-badge no-space">
            {{async-button classNames='btn btn-default'
                disableWhen=(not (v-get newFutureMsg 'isValid'))
                action=(route-action 'createFutureMsg' newFutureMsg
                    slideout.actions.close)
                default='Schedule'
                pending='Scheduling...'}}
        </div>
    </div>
{{/slideout-pane}}
