// Badges
// ------

.btn,
.dropdown-item,
.menu-item {
    .badge {
        margin-top: -0.1em;
        margin-left: 0.2em;
        font-size: 0.8em;
        margin-right: 0.2em;
    }
}

// Dropdown
// --------

.dropdown {
    @extend .reset-list;

    background-color: $bg-lightest-color;
    min-width: 200px;
    overflow: initial;

    @include mq($from: desktop) {
        min-width: 150px;
    }

    &-item {
        padding: $padding * 1.5;
        user-select: none;
        cursor: pointer;

        @include mq($from: desktop) {
            padding: $padding;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
        &.active,
        &:hover,
        &:active,
        &:focus {
            background-color: $bg-light-color;
        }
    }
    &-divider {
        padding-top: $padding;
        padding-bottom: $padding * 0.5;
        background-color: $bg-color;
        font-weight: $font-weight-bold;
        padding-left: $padding;
        text-transform: uppercase;

        @include mq($from: desktop) {
            padding: $padding $padding ($padding / 2);
            font-size: 0.8em;
        }
    }
}

.indicator {
    display: inline-block;
    height: $record-item-space / 2;
    width: $record-item-space / 2;
    border-radius: 100%;
    background-color: $border-color;

    &.success {
        background-color: $success-color;
    }
    &.failed {
        background-color: $danger-color;
    }
}
