<div class="flex flex--spacing-between margin-b-half">
    <div class="flex__item flex__item--grow">
        <p class="text-darken text-bold text-ellipsis">
            {{entity.name}}
        </p>
    </div>
    <div class="flex__item text-right">
        {{#with entity as |person|}}
            {{partial 'partials/staff/indicators'}}
        {{/with}}
    </div>
</div>
<div class="flex text-small">
    <div class="flex__item">
        {{entity.username}}
    </div>
</div>
