.audio-wrapper {
	&__control-container {
		&:only-child {
			justify-content: flex-end;
		}
		&:not(:only-child) {
			justify-content: space-between;
		}
	}
	&__player-item {
		margin-bottom: $baseunit / 2;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.audio-control {
	display: flex;

	&--recording {
		.audio-control__button {
			color: $danger-color;

			&--active {
				color: white;
			}
		}
	}
	&--disabled {
		opacity: 0.4;
	}
	&--error {
		.audio-control__button {
			@extend .button--error;
		}
		.audio-control__display {
			color: white;
			background-color: $color-error;

			&__progress {
				background-color: $color-error-dark;
			}
		}
	}
	&--unsupported {
		display: none;
	}
	&__display {
		position: relative;
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		line-height: $control-height;
		min-width: $media-preview-height;
		max-width: 100%;
		margin-left: $spacing * 0.5;
		padding: 0 ($spacing * 0.5);
		color: white;
		background-color: $color-brand;
		border-radius: $border-radius;
		overflow: hidden;
		cursor: pointer;

		&__message {
			@extend .text-ellipsis;

			position: relative; // to create a new stacking context
			width: 100%;
			user-select: none;
			z-index: 10;
		}
		&__timestamp {
			position: relative; // to create a new stacking context
			flex-shrink: 0;
			text-align: right;
			user-select: none;
			z-index: 10;
		}
		&__progress {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 0;
			transition: width 0.2s;
			background-color: $color-brand-dark;
		}
	}
}
