.contacts-import {
  margin-left: 50px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__contact-item {
    order: 1;
  }

  &__contact-name {
    display: inline;
    margin-right: $padding * 2;
  }

  &__contact-number {
    display: inline;
  }
}
