.infinite-scroll {
	height: 500px;
	overflow: hidden;
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	.infinite-container {
		@extend %vertical-scroll;
		height: 100%;
		transition: transform 0.5s;
		position: relative;

		.infinite-items {
			@extend %clearfix;

			opacity: 1;
		}
		.infinite-control {
			@extend %border-box;
			width: 100%;
			display: none;
		}
		.infinite-control {
			@extend .text-center;
			font-weight: $font-weight-bold;
		}
	}
	.infinite-scroll-refreshing {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&.scroll-up {
		position: relative;

		.infinite-items {
			position: relative;
			top: $padding * 3;

			&.is-displaying {
				opacity: 0;
				transition: opacity 0.3s;
			}
		}
		.infinite-control {
			position: absolute;
			top: 0;
			transform: translateY(50%);
		}
		.infinite-scroll-refreshing {
			transform: translate(-50%, 50%);
		}
		&.done:not(.loading) {
			.infinite-items {
				top: 0;
			}
		}
	}
	&.scroll-down {
		.infinite-control {
			padding: $padding 0;
		}
	}
	&.loading {
		.infinite-control {
			display: block;
		}
	}
	&.refreshing {
		.infinite-container:after {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 99;
			content: '';
		}
	}
	&.pulling {
		user-select: none;
		cursor: grabbing;
	}
}
