// styling
// -------

$top-layer: 15;
$bottom-layer: 5;

.location-control {
	width: 100%;
	height: 350px;
	overflow: hidden;

	.location-map {
		height: 100%;
		width: 100%;
		z-index: $bottom-layer;
		background-color: $bg-color;

		.map-container {
			z-index: $bottom-layer;
			height: 100%;
			width: 100%;
		}
		.map-search-bar,
		.map-editing {
			z-index: $top-layer;
		}
	}
	.location-control-popup {
		.leaflet-popup-content {
			@extend .text-center;

			button {
				@include button-colors($bg-color);

				box-sizing: border-box;
				padding: ($spacing * 0.3) ($spacing 0.8);
				font-weight: $font-weight-bold;
				text-transform: uppercase;
				border-radius: $border-radius;
				border-width: 0;
			}
		}
	}
}

.location-control {
	position: relative;

	.location-map {
		position: absolute;

		.map-search-bar {
			position: absolute;
			top: $spacing;
			left: 20%;
			width: 70%;
		}
		.map-editing {
			position: absolute;
			top: $spacing;
			right: $spacing;
		}
	}
}
