.location-preview {
    position: relative;
    overflow: hidden;
    background-color: $bg-color;
    height: $media-preview-height;
    width: 100%;
    min-width: $media-preview-height;

    &--overlay {
        .location-preview__message {
            opacity: 1;
        }
        .location-preview__image {
            filter: blur(1px);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $overlay-color;
        }
    }
    &__message {
        @extend .text-small;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - #{$spacing * 2});
        color: white;
        text-align: center;
        font-weight: $font-weight-bold;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.5s;
        overflow: scroll;
        cursor: default;
        user-select: none;
    }
    &__image {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
