// State-specific styles
// ---------------------

@mixin lock-control-message($namespace) {
	.dial-pad {
		.number-control {
			opacity: 0; // use opacity instead of visibility to preserve focus on number control
		}
		.#{$namespace}-message {
			display: block;
		}
	}
}
.lock-control.lock-control-success {
	@include lock-control-message('success');
}
.lock-control.lock-control-working {
	@include lock-control-message('working');
}
.lock-control.lock-control-locked {
	@include lock-control-message('locked');
	.dial-pad .number-control {
		visibility: hidden; // add hidden visibility to avoid focus bypassing lockout
	}
}
.form-error .lock-control,
.lock-control.form-error {
	.indicator {
		border-color: tint($danger-color, 2);
		background-color: tint($danger-color, 4);
		&.active {
			border-color: $danger-color;
			background-color: $danger-color;
		}
	}
}
.form-disabled .lock-control,
.lock-control.form-disabled {
	.indicator {
		border-color: $border-color;
		background-color: tint($border-color);
		&.active {
			border-color: shade($border-color);
			background-color: shade($border-color);
		}
	}
}

// General styles
// --------------

.lock-control {
	text-align: center;
	padding-top: $padding;
	padding-bottom: $padding;

	.indicator {
		margin: 0 (0.2 * $padding);
		height: $padding;
		width: $padding;
		border: 1px solid $border-color;
		background-color: shade($bg-color);

		&.active {
			border-color: $brand-color;
			background-color: $brand-color;
		}
	}
	.dial-pad {
		@extend %clearfix;
		box-sizing: border-box;
		position: relative;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		padding-top: $padding;

		.number-control {
			opacity: 1;
		}
		.dial-pad-message {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
