.remaining-container {
	position: relative;

	.remaining-indicator {
		$bg-color: shade($brand-color);
		position: absolute;
	    background-color: $bg-color;
    	color: contrast-color($bg-color);
    	font-weight: $font-weight-bold;
    	padding: $padding * 0.2;
		font-size: 0.8em;

		&.top, &.bottom {
			left: 50%;
			transform: translateX(-50%);
		}
		&.left, &.right {
			top: 50%;
			transform: translateY(-50%);
		}
		&.top {
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
			bottom: 100%;
		}
		&.bottom {
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			top: calc(100% - #{$button-accent-size});
		}
		&.left {
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
			right: 100%;
		}
		&.right {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			left: 100%;
		}
	}
}
