.multi-toggle {
	$indicators-height: $button-accent-size;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: $control-height;

	.multi-toggle-items {
		position: relative;
		transition: left 0.5s;
		height: 100%;
	}
	.multi-toggle-item {
		@extend .no-select;
		@extend .control-text;
		@extend %border-box;

		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: $border-radius;
		font-weight: $font-weight-bold;
		padding: 0 $padding;
		text-align: center;
	}
	.multi-toggle-indicators {
		@extend %clearfix;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: $indicators-height;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		opacity: 0.6;

		.toggle-indicator {
			float: left;
			height: 100%;
			visibility: hidden;

			&.selected {
				visibility: visible;
			}
			&:first-child {
				border-bottom-left-radius: $border-radius;
			}
			&:last-child {
				border-bottom-right-radius: $border-radius;
			}
		}
	}
}

.multi-toggle {
	&.has-left .left-toggle, &.has-right .right-toggle {
		display: block;
	}
	.left-toggle, .right-toggle {
		@extend .control-text;
		@extend %border-box;

		cursor: pointer;
		display: none;
		z-index: 10;
		width: 50%;
		height: 100%;
		top: 0;
		position: absolute;
		opacity: 0.5;
		transition: opacity 0.5s;

		&:hover {
			opacity: 1;
		}
	}
	.left-toggle {
		left: 0;
		text-align: left;
		padding-left: 5%;
	}
	.right-toggle {
		left: 50%;
		text-align: right;
		padding-right: 5%;
	}
}
