.multi-range {

	&.disabled {
		.elessar-range {
		    background-color: shade($border-color, 5);
		}
	}
	.elessar-rangebar {
		height: $control-height;
		line-height: $control-height;
		background-color: tint($border-color, 1);
	}
	.elessar-range {
		overflow: initial;
	    height: 100%;
	    text-align: center;
	    background-color: $brand-color;
	}
	.elessar-barlabel {
		@extend .text-ellipsis;
		@extend .text-bold;
		color: contrast-color($brand-color);
		width: 100%;
		display: block;
	}
	.elessar-phantom {
	    text-align: center;
	    transform: translateX(-50%);
	    width: $control-height;
	    background-color: tint($brand-color, 2);
	}
	.elessar-indicator {
		border-radius: $border-radius;
		background-color: $bg-dark-color;
		opacity: 0.5;
	    border-color: transparent;
	    border-width: 0 3px;
	    height: 124%;
    	top: -10%;
	}
	.elessar-handle:not(.disabled) {
		background-color: shade($brand-color);
	    width: $padding;

    	&:after {
    		z-index: 10;
    		opacity: 0.8;
			position: absolute;
			content: ' ';
			top: auto;
			left: 50%;
			bottom: 75%;
			transform: translateX(-50%);

			width: 0;
			height: 0;
            border-style: solid;
		    border-color: shade($brand-color);
			border-width: (1.2 * $padding) (1.4 * $padding);
		    border-top-left-radius: 50%;
		    border-top-right-radius: 50%;
		    border-bottom-left-radius: 30%;
		    border-bottom-right-radius: 30%;
    	}
	}
}
