.multi-range {

	&.disabled {
		.elessar-range {
		    background-color: shade($border-color, 5);
		}
	}
	.elessar-rangebar {
		height: $control-height;
		line-height: $control-height;
		background-color: tint($border-color, 1);
	}
	.elessar-range {
	    height: 100%;
	    text-align: center;
	    background-color: $brand-color;
	}
	.elessar-barlabel {
		@extend .text-ellipsis;
		@extend .text-bold;
		color: contrast-color($brand-color);
	}
	.elessar-handle {
	    background-color: shade($brand-color);
	}
	.elessar-phantom {
	    text-align: center;
	    transform: translateX(-50%);
	    width: $control-height;
	    background-color: tint($brand-color, 2);
	}
	.elessar-indicator {
		background-color: shade($brand-color, 2);
	    border-color: transparent;
	    border-width: 0 1px;
	    height: 114%;
	    top: -5%;
	}

	@include mq($until: desktop) {
		.elessar-range {
			overflow: initial;
		}
		.elessar-barlabel {
			width: 100%;
			display: block;
		}
		.elessar-handle {
		    width: $padding;

	    	&:after {
	    		z-index: 10;
	    		opacity: 0.3;
				position: absolute;
				content: ' ';
				top: $padding * -2;
				left: 50%;
				bottom: 75%;
				transform: translateX(-50%);

				width: 0;
				height: 0;
	            border-style: solid;
			    border-width: $padding ($padding * 0.5);
			    border-color: shade($brand-color);
			    border-top-left-radius: 50%;
    			border-top-right-radius: 50%;
	    	}
		}
    }
}
