.photo-control {
    &__item {
        position: relative;

        &:hover {
            .photo-control__remove {
                opacity: 1;
            }
        }
    }
    &__remove {
        position: absolute;
        top: $spacing / 2;
        right: $spacing / 2;
        height: $spacing * 2;
        width: $spacing * 2;
        background-color: $border-color;
        color: $font-color;
        border-width: 0;
        border-radius: $border-radius;
        box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.2);
        opacity: 0.5;

        @include mq($from: tablet) {
            opacity: 0.5;
            transition: opacity 0.3s;
        }
    }
    &__add-control {
        @extend .button;
        @extend .button--expand;

        & * {
            pointer-events: none;
        }
    }
    &__add {
        // Restyling file input adapted from
        // https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
        input[type='file'] {
            position: absolute;
            opacity: 0;
            z-index: -1;
            overflow: hidden;
            width: 0.01px;
            height: 0.01px;
        }
    }
}
