.pop-over {
    $caret-size: $spacing;

    display: inline-block;

    &__body {
        display: none;
        visibility: hidden;

        &--opening {
            display: initial;
        }
        &--open {
            display: initial;
            position: initial;
            visibility: visible;
        }
        &--position {
            @include mq($from: tablet) {
                &-top {
                    .pop-over__body__floating-container {
                        transform: translateY(#{-1 * $caret-size});

                        &:after {
                            top: 100%;
                            border-left-width: 1px;
                            border-bottom-width: 1px;
                        }
                    }
                }
                &-bottom {
                    .pop-over__body__floating-container {
                        transform: translateY(#{$caret-size});

                        &:after {
                            top: 0;
                            border-top-width: 1px;
                            border-right-width: 1px;
                        }
                    }
                }
            }
        }
        &--align {
            @include mq($from: tablet) {
                &-left {
                    .pop-over__body__floating-container:after {
                        left: $caret-size;
                        right: auto;
                    }
                }
                &-right {
                    .pop-over__body__floating-container:after {
                        left: auto;
                        right: $caret-size;
                    }
                }
            }
        }

        &--open &__floating-container {
            opacity: 1;
        }
        &__floating-container {
            @include mq($from: tablet) {
                position: absolute;
                z-index: 1500;
                transition: opacity 0.3s;
                opacity: 0;

                &:after {
                    content: '';
                    position: absolute;
                    height: $caret-size;
                    width: $caret-size;
                    background-color: $bg-lightest-color;
                    border: 0 solid $border-color;
                    border-top-right-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
        &__dimension-container {
            @include mq($from: tablet) {
                overflow: scroll;

                background-color: $bg-lightest-color;
                border-radius: $border-radius;
                border: 1px solid $border-color;

                box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
            }
            @include mq($from: desktop) {
                overflow: auto;
            }
        }

        @include mq($until: tablet) {
            &--open &__contents {
                max-height: 85vh;
                overflow: scroll;
            }
            &--closing &__contents {
                max-height: 0;
                overflow: hidden;
            }
        }
        @include mq($from: desktop) {
            &--open &__contents {
                overflow: auto;
            }
        }
        &__contents {
            z-index: 1500; // so contents are above the other half of the pop-over caret
            outline: 0;

            @include mq($until: tablet) {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                max-height: 0;
                overflow: hidden;
                background-color: $bg-lightest-color;
                box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.1);
                border-radius: $border-radius $border-radius 0 0;
                transition: max-height 0.5s;
            }
            @include mq($from: tablet) {
                position: relative; // so keeps new stacking context
            }
        }

        @include mq($until: tablet) {
            &--open &__overlay {
                opacity: 1;
            }
            &--closing &__overlay {
                opacity: 0;
            }
        }
        &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.05);
            opacity: 0;
            z-index: 1400;
            transition: opacity 1.5s;

            @include mq($from: tablet) {
                background-color: transparent;
            }
        }
    }
}
