.record-actions-control {
    position: relative;
    border-top: 1px solid $color-seafoam;
    background-color: white;

    &__action-container {
        display: flex;
        align-items: center;
        margin: $baseunit * 0.3;
        border: 1px solid tint($color-brand-light);
        border-radius: $border-radius;

        @include mq($from: tablet) {
            border-width: 0;
        }
    }
    &__action-item {
        &--grow {
            flex-grow: 1;
        }
    }
    &__dropdown-trigger {
        margin-top: 2px;
        border-width: 0;
        height: 100%;

        @include mq($from: tablet) {
            margin-right: $baseunit * 0.5;
        }
    }
    &__media-drawer {
        padding: $baseunit * 0.3;
        border-top: 1px solid $color-seafoam;

        &--audio {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        &__item {
            width: 100%;
            margin-bottom: $baseunit / 2;

            &:last-child {
                margin-bottom: 0;
            }

            @include mq($from: tablet) {
                width: 33%;
                padding-left: $baseunit;

                &:nth-child(3n + 1) {
                    padding-left: 0;
                }
                // from https://stackoverflow.com/a/14268247
                &:nth-last-child(-n + 3) {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0 $baseunit;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-weight: $font-weight-bold;
        z-index: 10;

        &--open {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
