.responsive-image {
    height: auto;
    width: 100%;
    max-width: 100%; // for width: 0; behavior in Chrome. See https://stackoverflow.com/a/5942894
    opacity: 0;
    transition: opacity 0.5s;
    object-fit: cover;

    &--constrain-height {
        height: 100%;
        width: auto;
    }
    &--success {
        opacity: 1;
    }
}
