$show-password-toggle-size: 3em;

.show-password-container {
    position: relative;

    input {
        padding-right: $show-password-toggle-size;
    }
    .show-password-toggle {
        @extend .full-height;

        cursor: pointer;
        user-select: none;
        width: $show-password-toggle-size;

        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 0;

        span {
            @extend .center;
        }
    }
}