.tab-container {
	&__body {
		@extend %clearfix;

		width: 100%;
		overflow: hidden;
		position: relative;
	}
	&__item {
		float: left;
		overflow: hidden;
		width: 100%;

		&--pending {
			position: absolute;
			left: 100%;
		}
	}
	&__nav {
		&--no-multiple {
			display: none;
		}
		&--nav-outline &__list-item {
			color: $color-brand-light;
			border: 1px solid $color-brand-light;
			border-right-width: 0;
			border-radius: 0;

			&:after {
				display: none;
			}
			&:first-child {
				border-top-left-radius: $border-radius;
				border-bottom-left-radius: $border-radius;
			}
			&:last-child {
				border-top-right-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
				border-right-width: 1px;
			}
			&--active {
				background-color: $color-seafoam;
				color: $color-brand-dark;
				border-color: $color-brand-light;
			}
		}
		&--overflow {
			.tab-container__nav__list {
				display: none;
			}
			.tab-container__nav__controls {
				display: block;
			}
		}

		&__controls {
			display: none;
		}
		&__display {
			@extend .btn;
			@extend .btn-expand;
			@extend .text-ellipsis;

			width: 100%;
			position: relative;
		}
		&__list {
			display: flex;
			width: 100%;
			padding: 0;
			margin: 0;
			overflow: hidden;
			list-style-type: none;
			white-space: nowrap;
		}
		&__list-item {
			@extend .no-select;
			@extend .text-ellipsis;

			flex-grow: 1;
			position: relative;
			min-width: 100px;
			max-width: 100%;
			padding: $spacing;
			background-color: $color-white;
			color: $color-brand-light;
			border-bottom: 1px solid $border-color;
			border-radius: 0;
			cursor: pointer;
			text-align: center;
			font-weight: $font-weight-bold;
			transition: all 0.5s;

			&:after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 80%;
				height: 3px;
				transform: translateX(-50%);
				border-radius: $border-radius;
				background-color: $color-brand-light;
				opacity: 0;
				transition: opacity 0.1s;
			}
			&:hover {
				background-color: $bg-color;
			}
			&--active {
				color: $color-brand-dark;

				&:after {
					opacity: 1;
				}
			}
		}
	}
}
