.tooltipster-clean {
    border-radius: 5px;
    border-width: 0;
    background: $bg-dark-color;
    color: $font-light-color;
}
.tooltipster-clean .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: $font-size;
    line-height: $font-size + 2;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    opacity: 0.8;
    padding: 8px 10px;
}
