.upcoming-future-messages {
    @extend %border-box;

    // so that this won't collapse as we are composing a long message
    flex-shrink: 0;
    position: relative;
    height: $control-height;
    line-height: $control-height;
    text-align: center;
    overflow: hidden;
    cursor: pointer;

    border-top: 1px solid $border-color;
    transition: all 0.5s;
    background-color: shade($bg-color);

    &:hover,
    &:active,
    &:focus {
        background-color: shade($bg-color, 1.5);
    }

    &--no-upcoming {
        display: none;
    }
}
