{{#if (or text.contents text.hasAwayMessage)}}
    <div class="record-item__body">
        {{#read-more classNames=(if text.outgoing "read-more--outgoing" "read-more--incoming")}}
            {{text.contents}}
        {{/read-more}}
        {{#if text.hasAwayMessage}}
            <div class="text-small text--deemphasize text-ellipsis margin-t-half">
                Auto-responded with away message
            </div>
        {{/if}}
    </div>
{{/if}}
{{#if text.media.content.displayedAudio}}
    <div class="record-item__media record-item__media--audio">
        {{audio-list itemClass=(if text.outgoing "audio-wrapper__player-item--dark")
            audio=text.media.content.displayedAudio}}
    </div>
{{/if}}
{{#if text.media.content.displayedImages.content}}
    <div class="record-item__media">
        {{image-stack images=text.media.content.displayedImages.content}}
    </div>
{{/if}}
{{#record-item/receipts item=text disabled=(not text.outgoing)}}
    {{record-item/metadata timestamp=text.whenCreated author=text.authorName}}
{{/record-item/receipts}}
