{{#slideout-pane
    headerComponent=(component "slideout-pane/title"
        title=(if (gt tagMembershipContacts.length 1)
            (concat "Tags (" tagMembershipContacts.length " selected)")
            (concat tagMembershipContacts.firstObject.name " Tags")))
    footerComponent=(component "slideout-pane/actions"
        showFooter=tagsHaveActions
        doPrimary=(route-action "finishTagMembershipSlideout")
        primaryLabel="Update"
        primaryProgressLabel="Updating...")
    direction=(constant "SLIDEOUT.DIRECTION.RIGHT")
    doClose=(route-action "cancelTagMembershipSlideout") as |slideout|}}
    {{#multi-toggle/group-by-bucket anyChanges=(mut tagsHaveActions)
        itemBucketProperty="tags"
        items=tagMembershipContacts
        buckets=tagMembershipTags as |tag|}}
        {{color-badge color=tag.hexColor text=tag.name}}
    {{else}}
        <li class="no-results">No tags yet.</li>
    {{/multi-toggle/group-by-bucket}}
{{/slideout-pane}}
