{{#slideout-pane
    headerComponent=(component "slideout-pane/title"
        title=(service-prop "tagMembershipSlideoutService" "slideoutTitle"))
    footerComponent=(component "slideout-pane/actions"
        showFooter=(service-prop "tagMembershipSlideoutService" "anyMembershipChanges")
        onPrimary=(service-action "tagMembershipSlideoutService" "finishSlideout")
        primaryLabel="Update"
        primaryProgressLabel="Updating...")
    direction=(constant "SLIDEOUT.DIRECTION.RIGHT")
    onClose=(service-action "tagMembershipSlideoutService" "cancelSlideout") as |slideout|}}
    {{#multi-toggle/group-by-bucket
        anyChanges=(get (service "tagMembershipSlideoutService") "anyMembershipChanges")
        itemBucketProperty=(constant "PROP_NAME.TAGS")
        items=(service-prop "tagMembershipSlideoutService" "contacts")
        buckets=(service-prop "tagMembershipSlideoutService" "tags") as |tag|}}
        {{color-badge color=tag.hexColor text=tag.name}}
    {{else}}
        <li class="no-results">No tags yet.</li>
    {{/multi-toggle/group-by-bucket}}
{{/slideout-pane}}
