<div class="preview-container {{itemClass}}">
    <span class="photo-control-remove"></span>
    <img src="">
    {{#if numImages}}
        <span class="num-photos-badge">
            {{numImages}}
        </span>
    {{/if}}
</div>