{{#slideout-pane
    headerComponent=(component "slideout-pane/title" title='New Staff')
    footerComponent=(component "slideout-pane/actions"
        showFooter=true
        doPrimary=(route-action 'createStaff' newStaff
            (route-action 'cleanNewStaff' newStaff
                (route-action "closeSlideout")))
        disablePrimary=(not (v-get newStaff 'isValid'))
        primaryLabel="Create"
        primaryProgressLabel="Creating...")
    onOpen=(route-action 'initializeNewStaff')
    doClose=(route-action 'revert' newStaff
        (route-action 'cleanNewStaff' newStaff
            (route-action "closeSlideout")))
    forceKeepOpen=newStaff.isSaving
    focusSelector='.start-focus' as |slideout|}}
    <div class="form">
        {{partial 'partials/staff/create'}}
    </div>
{{/slideout-pane}}
