<div class="xs-full-row">
    {{partial 'partials/record-note/dynamic-media'}}
</div>
<div class="xs-full-row">
    {{#if rNote.noteContents}}
        <div class="contents text-wrap yes-select-text">
            {{rNote.noteContents}}
        </div>
    {{/if}}
    <div class="input-group note-controls no-select">
        {{#if rNote.hasRevisions}}
            <div class="input-group-addon">
                <button class="btn btn-plain btn-span" type='button'
                    onclick={{route-action 'mutate' (action (mut recordNote)) rNote
                        (route-action 'toggleDetailSlideout'
                            'slideouts/record-note/revisions'
                            (if contact 'main/contacts/contact' 'main/tag/details'))}}>
                    <span class="fa fa-history"></span>
                </button>
            </div>
        {{/if}}
        {{#if (not contact.isSharedView)}}
            <div class="input-group-addon">
                <button class="btn btn-plain btn-span" type='button'
                    onclick={{route-action 'mutate' (action (mut recordNote)) rNote
                        (route-action 'mutate' (action (mut rNote.isEditingNote)) true
                            (route-action 'toggleDetailSlideout'
                            'slideouts/record-note/create-edit'
                            (if contact 'main/contacts/contact' 'main/tag/details')))}}>
                    <span class="fa fa-pencil"></span>
                </button>
            </div>
        {{/if}}
    </div>
</div>
