<div class="offset-xs-row-10 xs-7-row-10 v-center-left text-left">
    {{#if org}}
        <h4 class="text-white text-ellipsis">Admin</h4>
    {{else}}
        <h4 class="text-white text-ellipsis">{{model.name}}</h4>
        <p class="text-bold text-ellipsis">
        	{{phone-number model.phone.content.number}}
        </p>
    {{/if}}
</div>
<div class="xs-2-row-10 v-center-right">
    <buton class="btn btn-expand btn-plain">
        <span class="fa fa-caret-down"></span>
    </buton>
</div>

