<div class="offset-xs-row-10 xs-7-row-10 v-center-left text-left">
    <h4 class="text-white text-ellipsis">{{stateManager.owner.name}}</h4>
    {{#if (not stateManager.ownerIsOrg)}}
        <p class="text-bold text-ellipsis">
            {{phone-number stateManager.owner.phone.content.number}}
        </p>
    {{/if}}
</div>
<div class="xs-2-row-10 v-center-right">
    <buton class="btn btn-expand btn-plain">
        <span class="fa fa-caret-down"></span>
    </buton>
</div>

