// importing variables -- vars must come first
// ex: vendor/mq requires breakpoints to be specified
@import 'vars';

// external sass
@import 'vendor/normalize';
@import 'vendor/mq';

// importing modules
@import 'modules/utilities';
@import 'modules/grid';
@import 'modules/color';

// partials
@import 'partials/structure';
@import 'partials/typography';
@import 'partials/icons';
@import 'partials/controls';
@import 'partials/display';
@import 'partials/grid';
@import 'partials/animations';
