<div class="display-xs display-s display-m row">
    {{slideout-pane/title onClose=onClose
        title=title}}
</div>
{{account-switcher classNames="display-l"
    user=user
    onLogOut=onLogOut
    activeName=activeName
    activeNumber=activeNumber}}
