<div class="display-xs display-s display-m row">
    {{slideout-pane/title doClose=doClose props=props}}
</div>
{{account-switcher class='display-l'
    activeOwner=props.activeOwner
    user=props.user
    doLogOut=props.doLogOut}}
