{{#if showDelete}}
    <div class="flex__item">
        <button type="button"
            class="btn btn-plain btn-danger slideout-pane__footer__delete"
            onclick={{optional-action onMarkForDelete}}>
            <span class="fa fa-trash"></span>
        </button>
    </div>
{{/if}}
{{#if (not hideSecondary)}}
    <div class="flex__item">
        <button type="button"
            class="btn slideout-pane__footer__secondary"
            onclick={{if onSecondary (optional-action onSecondary) (optional-action onClose)}}>
            {{secondaryLabel}}
        </button>
    </div>
{{/if}}
<div class="flex__item">
    {{#action-button class=(if primaryClass primaryClass "btn btn-default")
        onAction=(optional-action onPrimary)
        disabled=disablePrimary}}
        {{primaryLabel}}
    {{/action-button}}
</div>
