<div class="textup-container__item">
    <button class="btn btn-plain btn-expand" type="button" onclick={{doClose}}>
        <span class="slideout-pane__header__control"></span>
    </button>
</div>
<div class='textup-container__item textup-container__item--grow'>
    <h5 class='text-ellipsis'>{{props.title}}</h5>
</div>
