<div class="compose-text__contents">
    {{textarea class="compose-text__contents__control"
        placeholder=placeholder
        autoresize=true
        maxLength=(constant "DEFAULT.OUTGOING_TEXT_NUM_CHARACTERS")
        rows="1"
        value=contents
        submitOnNewline=true
        action=(action _onSend)}}
</div>
{{#if contents}}
    <button class="compose-text__control compose-text__remove-control"
        type="button"
        onclick={{optional-action onClearContents}}>
        <span class="icon-x"></span>
    </button>
{{/if}}
{{yield}}
{{#action-button class="compose-text__control btn-plain btn-default"
    disabled=_isInvalid
    onAction=(action _onSend)}}
    <span class="fa fa-paper-plane-o"></span>
{{/action-button}}
