<input type="checkbox"
  checked={{if _publicAPI.isSelect "checked" ""}}
  onchange={{action _onChange}}>
<h2> {{data.name}} </h2>
{{#each data.numbers as |number|}}
  <h2> {{number}} </h2>
{{/each}}
