{{title (concat "Contact " model.id)}}

<div class="details full-height">
	<div class="section-header">
        {{record-owner-header/contact-shared-contact classNames="row full-height"
            contact=model
            backRouteName=backRouteName
            linkParams=backRouteLinkParams
            onEdit=(service-action "existingContactSlideoutService" "openSlideout" model)
            onEditSharing=(service-action "sharingSlideoutService" "openSlideout" model)
            onEditTagMembership=(service-action "tagMembershipSlideoutService" "openSlideout" model)
            onExport=(service-action "exportSlideoutService" "startSingleExportSlideout" model)
            onStatusChange=(action "onContactStatusChange" model)}}
    </div>
    {{care-record classNames="section-body row"
        canAddToRecord=model.allowEdits
        canModifyExistingInRecord=model.allowEdits
        nextFutureFire=model.nextFutureFire
        personalNumber=(service-prop "authService" "authUser.personalNumber")
        recordClusters=model.recordClusters
        numRecordItems=model.numRecordItems
        totalNumRecordItems=model.totalNumRecordItems

        contents=careRecordText.contents
        onContentChange=(action (mut careRecordText.contents))

        images=careRecordText.media.content.displayedImages
        audio=careRecordText.media.content.displayedAudio
        onAddImage=(service-action "mediaService" "addImage" careRecordText)
        onAddAudio=(service-action "mediaService" "addAudio" careRecordText)
        onRemoveMedia=(service-action "mediaService" "removeMedia" careRecordText)

        doRegister=(action (mut careRecordRef))
        onLoadRecordItems=(action "onLoadRecordItems")
        onRefreshRecordItems=(action "onRefreshRecordItems")

        onCall=(action "onCall")
        onText=(action "onText")
        onOptionsClose=(service-action "tutorialService" "startCompleteTask" (constant "TASK.CLIENT_RECORD"))

        onEndOngoingCall=(service-action "recordItemService" "endOngoingCall")

        onAddNote=(service-action "noteSlideoutService" "openNewNoteSlideout" model)
        onEditNote=(service-action "noteSlideoutService" "openExistingNoteSlideout" model)
        onViewNoteHistory=(service-action "noteRevisionSlideoutService" "openSlideout")
        onRestoreNote=(service-action "recordItemService" "restoreDeletedNote")

        onScheduleMessage=(service-action "newFutureMessageSlideoutService" "openSlideout" model)
        onViewScheduledMessages=(service-action "existingFutureMessageSlideoutService" "openSlideout" model)}}
</div>
