{{title (concat "Contact " model.id)}}

<div class="details full-height">
	<div class="section-header">
        {{record-owner-header/contact-shared-contact classNames="row full-height"
            contact=model
            backRouteName=backRouteName
            onEdit=(route-action "startExistingContactSlideout")
            onEditSharing=(route-action "startContactSharingSlideout" model)
            onEditTagMembership=(route-action "startTagMembershipSlideout" model)
            onExport=(route-action "startSingleExportSlideout" model)
            onStatusChange=(route-action "onContactStatusChange" model)}}
    </div>
    {{care-record classNames="section-body row"
        canAddToRecord=model.allowEdits
        canModifyExistingInRecord=model.allowEdits
        nextFutureFire=model.nextFutureFire
        personalPhoneNumber=authService.authUser.personalPhoneNumber
        recordClusters=model.recordClusters
        numRecordItems=model.numRecordItems
        totalNumRecordItems=model.totalNumRecordItems

        contents=careRecordText.contents
        onContentChange=(action (mut careRecordText.contents))

        images=careRecordText.media.content.displayedImages.content
        audio=careRecordText.media.content.displayedAudio
        onAddImage=(route-action "onAddImage" careRecordText)
        onAddAudio=(route-action "onAddAudio" careRecordText)
        onRemoveMedia=(route-action "onRemoveMedia" careRecordText)

        doRegister=(action (mut careRecordRef))
        onLoadRecordItems=(route-action "onLoadRecordItems")
        onRefreshRecordItems=(route-action "onRefreshRecordItems")

        onCall=(route-action "onCall")
        onText=(route-action "onText")

        onEndOngoingCall=(route-action "endOngoingCall")

        onAddNote=(route-action "startAddNoteSlideout")
        onEditNote=(route-action "startEditNoteSlideout")
        onViewNoteHistory=(route-action "startViewNoteHistorySlideout")
        onRestoreNote=(route-action "onRestoreNote")

        onScheduleMessage=(route-action "startNewScheduleMessageSlideout")
        onViewScheduledMessages=(route-action "startViewScheduledMessagesSlideout")}}
</div>
