{{#single-select data=dataExcludingSelf
    selected=selected
    displayProperty='name'
    identityProperty='urlIdentifier'
    allowCreate=false
    searchPlaceholder='Pick who to transfer to'
    noResultsMessage='Could not find anything.'
    filterProperty='transferFilter'
    doSearch=(action 'search')
    onInsert=(action 'select')
    onRemove=(action 'deselect') as |item select|}}
    {{#if hasBlock}}
        {{yield item select}}
    {{else}}
        <div class="text-ellipsis">
            <span class="text-bold">{{item.name}}</span>
            <span class='pad-l-half'>{{item.username}}</span>
            {{#if (type/is-team item)}}
				{{#tool-tip class='pad-l'
			        tagName='span'
			        title=(concat 'Team of ' item.numMembers)}}
			        <span class="fa fa-users"></span>
			    {{/tool-tip}}
            {{/if}}
            {{#if (and (not item.hasInactivePhone) item.phone.content)}}
            	{{#tool-tip class='pad-l'
			        tagName='span'
			        title=(concat 'TextUp Phone ' (phone-number item.phone.content.number))}}
			        <span class="fa fa-phone"></span>
			    {{/tool-tip}}
            {{/if}}
            {{#if item.hasInactivePhone}}
            	{{#tool-tip class='pad-l text-lighten'
			        tagName='span'
			        title='Has inactive phone'}}
			        <span class="fa fa-phone"></span>
			    {{/tool-tip}}
            {{/if}}
        </div>
    {{/if}}
{{/single-select}}
