<div class="form__group">
    <label class="form__label" for="Your Name">Team Name</label>
    {{input value=newTeam.name
        type="text"
        placeholder="Team Name"
        class="form__input start-focus"
        validateObj=newTeam
        validateField='name'
        validate='bottom'}}
</div>
<div class="form__group">
    <label class="form__label" for="Your Name">Team Color</label>
    {{color-control color=newTeam.hexColor}}
</div>
{{#with newTeam as |owner|}}
    {{partial 'partials/change-number'}}
{{/with}}
