<div class="pad-l pad-r form-element">
    <label for="Your Name">Team Name</label>
    {{input value=newTeam.name type="text" placeholder="Team Name" class="form-control"}}
</div>
<div class="pad-l pad-r form-element">
    <label for="Your Name">Team Color</label>
    {{color-control color=newTeam.hexColor}}
</div>
{{#with newTeam as |owner|}}
    <div class="pad-l pad-r">
        {{partial 'partials/change-number'}}
    </div>
{{/with}}
<div class="form-element">
    <label for="Your Name" class='pad-l pad-r'>Location</label>
    {{location-control/mutable hideSidebar=true
        location=(mut newTeam.location.latLng)
        description=(mut newTeam.location.address)}}
</div>
