<div class="form-element pad-l pad-r">
    <label for="Your Name">Team Name</label>
    {{input value=team.name type="text" placeholder="Team Name" class="form-control"}}
</div>
<div class="form-element pad-l pad-r">
    <label for="Your Name">Team Color</label>
    {{color-control color=team.hexColor}}
</div>
<div class='form-element pad-l pad-r'>
    <label for='TextUp Phone'>TextUp Phone</label>
    {{phone-control number=team.phone}}
</div>
<div class="form-element">
    <label for="Your Name" class='pad-l pad-r'>Location</label>
    {{location-control/mutable
        hideSidebar=true
        location=(mut team.location.latLng)
        description=(mut team.location.address)}}
</div>
