@keyframes grid-display-move {
    from {
        top: 0;
    }
    to {
        top: calc(100% - #{$padding});
    }
}

.grid-display {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.5s;

    &.readonly .grid-item-container .grid-item .photo-control-remove {
        display: none;
    }
    .grid-item-container {
        display: block;
        width: 100%;
        box-sizing: border-box;

        .grid-item {
            position: relative;
            text-align: center;
            transform-style: preserve-3d; // prevent blurry half-pixel effect in children
            overflow: hidden;
            box-sizing: border-box;
            animation: fadein 2s;
            cursor: pointer;
            min-width: $padding * 3;

            &.error {
                cursor: initial;
                background-color: tint($border-color);
                background-clip: content-box;
            }
            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.5s;

                &:hover {
                    transform: translateY(-50%) scale(1.1);
                }
            }
        }
    }
}

@include mq($until: tablet) { // horizontal-scrolling strip of images
    $grid-strip-height: $padding * 10;

    .grid-display {

        &.not-empty {
            height: $grid-strip-height;
        }
        .grid-item-container {
            height: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;

            .grid-item {
                display: inline-block;
                vertical-align: middle;
                max-width: 40%;
                height: 100%;
                padding: 0 ($padding / 4);

                .photo-control-remove {
                    right: $padding / 4;
                }
                &.error {
                    width: $grid-strip-height;
                }
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
        &.loading {
            padding-right: $padding * 3 / 4;

            &:after, &:before{
                content: ' ';
                position: absolute;
                top: 0;
                right: 0;
            }
            &:after {
                width: $padding / 2;
                height: 100%;
                background-color: $border-color;
            }
            &:before {
                width: $padding / 2;
                height: $padding;
                background-color: $brand-color;
                z-index: 10;
                animation: grid-display-move 2s linear alternate infinite;
            }
        }
    }
}
@include mq($from: tablet) { // grid of images
    .grid-display {
        .grid-item-container {
            overflow-x: hidden;
            overflow-y: auto;

            .grid-item {
                float: left;
                width: 25%;
                height: $padding * 8;
                padding: $padding / 4;
                background-color: $bg-color;
                background-clip: content-box;

                .photo-control-remove {
                    top: $padding / 4;
                    right: $padding / 4;
                }
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
        &.loading .grid-item:last-child:after {
            content: ' ';
            position: absolute;
            top: calc(50% - #{$padding / 2});
            right: 0;

            background-color: $bg-color;
            border-radius: 50%;
            border: ($padding / 2) solid $border-color;
            border-top-color: $brand-color;
            animation: fa-spin 2s infinite linear;
        }
    }
}