<div class="form-element">
    <label for="Your Name">Tag Name</label>
    {{input value=tag.name type="text" placeholder="Tag Name" class="form-control"}}
</div>
<div class="form-element">
    <label for="Your Name">Tag Color</label>
    {{color-input color=tag.color}}
</div>
