{{#slideout-pane title='Availability'
    closeActionName='closeSlideout'
    ignoreCloseSelectors='.header-slideout' as |slideout|}}
	<div class="pad-t pad-l pad-r">
		<div class="form-element">
			<label for='Your Name' class='control-label'>Phone Away Message</label>
            {{textarea rows="3"
            	autoresize=true
            	class="form-control"
        		maxlength="160"
        		remaining='top'
        		value=model.awayMessage}}
		</div>
		<div class="form-element">
			Double click to delete a range. Blue ranges are when you are available and the gray area is when you are not available.
		</div>
	</div>
	<div class="form-element">
		{{tab-container/availability
            schedule=(mut authManager.authUser.schedule)
            otherStaffs=teamMembers}}
	</div>
    <div class="horizontal-items text-center margin-t margin-b">
        <div class="clear-badge no-space">
            <button class="btn" type='button'
                onclick={{slideout.actions.close}}>
                Cancel
            </button>
        </div>
        <div class="clear-badge no-space">
            <button class="btn btn-default" type='button'
                onclick={{slideout.actions.close}}>
                Update
            </button>
        </div>
    </div>
{{/slideout-pane}}
