{{#slideout-pane title='Availability'
    doClose=(route-action 'revert' model
        (route-action 'revert' authManager.authUser
            (route-action 'closeAllSlideouts')))
    ignoreCloseSelectors='.header-slideout, .c-notification__container' as |slideout|}}
    {{#if model.phone.isFulfilled}}
        <div class="form-element pad-t pad-l pad-r">
            <label for='Your Name' class='control-label'>Phone Away Message</label>
            {{textarea rows="3"
                autoresize=true
                class="form-control"
                maxlength="160"
                remaining='top'
                value=model.phone.content.awayMessage
                validateObj=model.phone.content
                validateField='awayMessage'
                validate='bottom'}}
        </div>
        <hr>
    {{/if}}
	<div class="margin-b pad-l pad-r">
        <label for='Your Name' class='control-label text-bold'>
            My Available Times
            {{#tool-tipster tagName='span'
                maxWidth=300
                theme='tooltipster-help'
                title="Double click or tap to delete a range. Blue ranges are when you are available and the gray area is when you are not available."}}
                <span class="fa fa-question-circle"></span>
            {{/tool-tipster}}
        </label>
	</div>
    {{#if authManager.authUser.schedule.isFulfilled}}
        <div class="form-element">
            {{tab-container/availability
                schedule=(mut authManager.authUser.schedule.content)
                otherStaffs=stateManager.teamMembers}}
        </div>
    {{/if}}
    {{#if (or model.isDirty authManager.authUser.isDirty)}}
        <div class="horizontal-items text-center margin-t margin-b">
            <div class="clear-badge no-space">
                <button class="btn" type='button'
                    onclick={{slideout.actions.close}}>
                    Cancel
                </button>
            </div>
            <div class="clear-badge no-space">
                {{async-button classNames='btn btn-default'
                    action=(route-action 'persist' model
                        (route-action 'persist' authManager.authUser
                        (route-action 'closeAllSlideouts')))
                    disableWhen=(or
                        (not (v-get model 'isValid'))
                        (not (v-get authManager.authUser 'isValid')))
                    default='Update'
                    pending='Updating...'}}
            </div>
        </div>
    {{/if}}
{{/slideout-pane}}
