{{#slideout-pane
    headerComponent=(component "slideout-pane/title" title="Compose")
    footerComponent=(component "slideout-pane/actions"
        showFooter=true
        onPrimary=(route-action "finishComposeSlideout")
        disablePrimary=(or (not composeMessage) (not composeHasRecipients))
        primaryLabel="Send"
        primaryProgressLabel="Sending...")
    onClose=(route-action "cancelComposeSlideout")
    forceKeepOpen=(or composeMessage composeHasRecipients)
    focusSelector=".multi-select-new-input" as |slideout|}}
	<div class="form">
		{{#if model.phone.isFulfilled}}
			<div class="form__group">
                {{#tour-components/hint hintId=(constant "HINT.COMPOSE")}}
    				{{#multi-select data=model.phone.content.tags
    			    	selected=composeRecipients
    			    	filterProperty=(constant "PROP_NAME.FILTER_VAL")
                        displayProperty=(constant "PROP_NAME.READABLE_IDENT")
    			    	identityProperty=(constant "PROP_NAME.URL_IDENT")
    			    	doSearch=(route-action "composeDoSearch")
    			    	doCreate=(route-action "composeCreateRecipient")
    			    	onInsert=(route-action "composeInsertRecipient")
    					onRemove=(route-action "composeRemoveRecipient") as |recipient select|}}
    					{{multi-select/display-badge entity=recipient}}
    				{{/multi-select}}
                {{/tour-components/hint}}
			</div>
		{{/if}}
		<div class="form__group">
			{{textarea rows="3"
				autoresize=true
				class="form__input form__input--multiline"
				maxLength=(constant "DEFAULT.OUTGOING_TEXT_NUM_CHARACTERS")
				value=composeMessage
				placeholder="Type your message here"}}
		</div>
	</div>
{{/slideout-pane}}
