{{#slideout-pane
    headerComponent=(component "slideout-pane/title" title="Compose")
    footerComponent=(component "slideout-pane/actions"
        showFooter=true
        onPrimary=(service-action "composeSlideoutService" "finishSlideout")
        disablePrimary=(service-prop "composeSlideoutService" "shouldDisablePrimaryAction")
        primaryLabel="Send"
        primaryProgressLabel="Sending...")
    onClose=(service-action "composeSlideoutService" "cancelSlideout")
    forceKeepOpen=(service-prop "composeSlideoutService" "shouldForceKeepOpen")
    focusSelector=".multi-select-new-input" as |slideout|}}
	<div class="form">
		<div class="form__group">
            {{#tour-components/hint hintId=(constant "HINT.COMPOSE")}}
				{{#multi-select data=(service-prop "composeSlideoutService" "tagRecipients")
			    	selected=(service-prop "composeSlideoutService" "recipients")
			    	filterProperty=(constant "PROP_NAME.FILTER_VAL")
                    displayProperty=(constant "PROP_NAME.READABLE_IDENT")
			    	identityProperty=(constant "PROP_NAME.URL_IDENT")
			    	doSearch=(service-action "contactService" "searchContacts")
			    	doCreate=(service-action "composeSlideoutService" "createRecipient")
			    	onInsert=(service-action "composeSlideoutService" "insertRecipient")
					onRemove=(service-action "composeSlideoutService" "removeRecipient") as |recipient|}}
					{{multi-select/display-badge entity=recipient}}
				{{/multi-select}}
            {{/tour-components/hint}}
		</div>
		<div class="form__group">
            {{!-- [FUTURE] textarea component that does not rely on two-way binding --}}
			{{textarea rows="3"
				autoresize=true
				class="form__input form__input--multiline"
				maxLength=(constant "DEFAULT.OUTGOING_TEXT_NUM_CHARACTERS")
				value=(get (service "composeSlideoutService") "recipients")
				placeholder="Type your message here"}}
		</div>
	</div>
{{/slideout-pane}}
