{{#slideout-pane
    headerProps=(hash title='New Staff')
    footerComponent="slideout-pane/actions"
    footerProps=(hash
        showFooter=true
        doPrimary=(route-action 'createStaff' newStaff
            (route-action 'cleanNewStaff' newStaff
                (route-action 'closeAllSlideouts')))
        disablePrimary=(not (v-get newStaff 'isValid'))
        primaryLabel="Create"
        primaryProgressLabel="Creating...")
    onOpen=(route-action 'initializeNewStaff')
    doClose=(route-action 'revert' newStaff
        (route-action 'cleanNewStaff' newStaff
            (route-action 'closeAllSlideouts')))
    forceKeepOpen=newStaff.isSaving
    focusSelector='.start-focus' as |slideout|}}
    <div class="pad-t pad-l pad-r">
        {{partial 'partials/staff/create'}}
    </div>
{{/slideout-pane}}
