{{#slideout-pane title='New Staff'
    direction='left'
    onOpen=(route-action 'initializeNewStaff')
    doClose=(route-action 'revert' newStaff
        (route-action 'cleanNewStaff' newStaff
            (route-action 'closeAllSlideouts')))
    ignoreCloseSelectors='.header-slideout'
    focusSelector='.start-focus' as |slideout|}}
    <div class="pad-t pad-l pad-r">
        {{partial 'partials/staff/create'}}
    </div>
    <div class="horizontal-items text-center margin-t margin-b">
        <div class="clear-badge no-space">
            <button class="btn" type='button'
                onclick={{slideout.actions.close}}>
                Cancel
            </button>
        </div>
        <div class="clear-badge no-space">
            <button class="btn btn-default" type='button'
                disabled={{not (v-get newStaff 'isValid')}}
                onclick={{route-action 'createStaff' newStaff
                    (route-action 'closeAllSlideouts')}}>
                Create
            </button>
        </div>
    </div>
{{/slideout-pane}}
