{{#slideout-pane title=(if selected
        (concat 'Share (' selected.length ' selected)')
        (concat 'Share ' contact.name))
    direction='right'
    closeActionName='closeSlideout'}}
    {{multi-toggle/share contacts=(if selected selected contact)
        staffs=shareCandidates}}

    <div class="horizontal-items text-center margin-t-double margin-b">
        <div class="clear-badge no-space">
            <button class="btn" type='button'>
                Cancel
            </button>
        </div>
        <div class="clear-badge no-space">
            <button class="btn btn-default" type='button'>
                Update
            </button>
        </div>
    </div>
{{/slideout-pane}}
