{{#slideout-pane title=(if selected
        (concat 'Share (' selected.length ' selected)')
        (concat 'Sharing ' contact.name))
    ignoreCloseSelectors='.header-slideout, .c-notification__container'
    direction='right'
    doClose=(route-action 'clearList' (if selected selected contact) 'actions'
        (route-action 'closeAllSlideouts')) as |slideout|}}
    {{#if contactAnySharingChange}}
        <div class="horizontal-items text-center pad-all bg-color border-b">
            <div class="clear-badge no-space">
                <button class="btn" type='button'
                    onclick={{slideout.actions.close}}>
                    Cancel
                </button>
            </div>
            <div class="clear-badge no-space">
                {{async-button classNames='btn btn-default'
                    action=(route-action 'persist'
                        (if selected selected contact)
                        slideout.actions.close)
                    default='Update'
                    pending='Updating...'}}
            </div>
        </div>
    {{/if}}
    {{multi-toggle/share anyChanges=(mut contactAnySharingChange)
        contacts=(if selected selected contact)
        staffs=stateManager.shareCandidates}}
{{/slideout-pane}}
