{{#liquid-if showSlideout class='animate-slide-from-left animated-overflow'}}
	{{outlet 'slideout'}}
{{/liquid-if}}
{{notification-container notifications=notifications}}

<div id="container">
	{{liquid-outlet class='main-outlet'}}
</div>

{{loading-slider isLoading=loading}}
