{{title "Sign Up" prepend=true}}

<div class="single-container">
    <div class="single-header">
    	<img class="brand" src='assets/images/logo.png' />
        <h3 class='text-white'>Sign Up</h3>
        <div class="subtitle">
            {{#link-to "login" classNames='text-white'}}
            	Already signed up? <b>Log in.</b>
        	{{/link-to}}
        </div>
    </div>
    {{liquid-outlet}}
</div>

