<h1>Testing Route!!</h1>
<h2>Used to test components</h2>
<br>
<br>

{{#lock-container
  val= lockCode
  doUpdateVal= (action (mut lockCode))
  doValidate=(route-action 'verifyLockCode')
  doLogout= (route-action 'logout')

  timeout= authService.authUser.org.content.timeout
  username= authService.authUser.name
}}
  <h1> UNLOCKED CONTENT </h1>
{{/lock-container}}
