

<div style="display:inline-block; width:49%;" id="elementToHighlight">
  {{#tour-components/hint hintId='testHint1' }}
  <input type="text" />
  {{/tour-components/hint}}

  {{#tour-components/hint hintId='testHint1' }}
  <input type="text" />
  {{/tour-components/hint}}

  {{#tour-components/hint hintId='testHint1' }}
  <input type="text" />
  {{/tour-components/hint}}

  {{#tour-components/hint hintId='testHint1' type='focus' verticalPosition=true}}
  <input type="text" />
  {{/tour-components/hint}}
</div>

<div style="display:inline-block; width:49%;">
  {{#tour-components/hint hintId='testHint1' }}
  <input type="text" />
  {{/tour-components/hint}}

  {{#tour-components/hint hintId='testHint1' }}
  <input type="text" />
  {{/tour-components/hint}}

  {{#tour-components/hint hintId='testHint1' }}
  <input type="text" />
  {{/tour-components/hint}}

  {{#tour-components/hint hintId='testHint1' type='focus' verticalPosition=true}}
  <input type="text" />
  {{/tour-components/hint}}
</div>


{{tour-components/overlay
  elementToHighlight="#elementToHighlight"}}
