{{#slideout-pane
    headerComponent=(component "slideout-pane/title" title=(concat "Export records"))
    footerComponent=(component "slideout-pane/actions"
        showFooter=true
        onPrimary=(route-action "finishExportSlideout")
        disablePrimary=(or (not exportStartDate) (not exportEndDate))
        primaryLabel="Export"
        primaryProgressLabel="Exporting...")
    onClose=(route-action "cancelExportSlideout")
    focusSelector=".multi-select-new-input" as |slideout|}}
    <div class="form">
        <div class="form__group">
            <label for="export-scope" class="form__label">
                Export records for
            </label>
            {{#multi-toggle selectIndex=(if exportForEntirePhone 0 1) as |toggle doRegister|}}
                {{#multi-toggle/item doRegister=doRegister
                    color=(constant "COLOR.BRAND")
                    onSelect=(action (mut exportForEntirePhone) true)}}
                    all of {{stateManager.owner.name}}
                {{/multi-toggle/item}}
                {{#multi-toggle/item doRegister=doRegister
                    color=(constant "COLOR.LIGHT_BLUE")
                    onSelect=(action (mut exportForEntirePhone) false)}}
                    selected contacts and tags
                {{/multi-toggle/item}}
            {{/multi-toggle}}
        </div>
        {{#if (and model.phone.isFulfilled (not exportForEntirePhone))}}
            <div class="form__group">
                <label for="export-selected-owners" class="form__label">
                    Select contacts and tags to export records for
                </label>
                {{#multi-select data=model.phone.content.tags
                    selected=exportRecordOwners
                    displayProperty=(constant "PROP_NAME.READABLE_IDENT")
                    identityProperty=(constant "PROP_NAME.URL_IDENT")
                    doSearch=(route-action "exportDoSearch")
                    onInsert=(route-action "exportInsertRecordOwner")
                    onRemove=(route-action "exportRemoveRecordOwner") as |recipient select|}}
                    {{multi-select/display-badge entity=recipient}}
                {{/multi-select}}
            </div>
        {{/if}}
        <div class="form__group">
            <label for="export-start-date" class="form__label">
                Start date
            </label>
            {{datetime-control value=exportStartDate
                showTime=false
                onSelect=(action (mut exportStartDate))}}
        </div>
        <div class="form__group">
            <label for="export-end-date" class="form__label">
                End date
            </label>
            {{datetime-control value=exportEndDate
                showTime=false
                onSelect=(action (mut exportEndDate))}}
        </div>
        <div class="form__group">
            <label for="export-format-type" class="form__label">
                Export multiple records
            </label>
            {{#multi-toggle selectIndex=(if exportAsGrouped 0 1) as |toggle doRegister|}}
                {{#multi-toggle/item doRegister=doRegister
                    color=(constant "COLOR.BRAND")
                    onSelect=(action (mut exportAsGrouped) true)}}
                    as separate pages
                {{/multi-toggle/item}}
                {{#multi-toggle/item doRegister=doRegister
                    color=(constant "COLOR.LIGHT_BLUE")
                    onSelect=(action (mut exportAsGrouped) false)}}
                    all together ordered by timestamp
                {{/multi-toggle/item}}
            {{/multi-toggle}}
        </div>
    </div>
{{/slideout-pane}}

