{{#slideout-pane
    headerComponent=(component "slideout-pane/title"
        title=(concat "Exporting " (get model (constant "PROP_NAME.READABLE_IDENT"))))
    footerComponent=(component "slideout-pane/actions"
        showFooter=true
        doPrimary=(route-action "finishExportSlideout")
        disablePrimary=(or (not exportStartDate) (not exportEndDate))
        primaryLabel="Export"
        primaryProgressLabel="Exporting...")
    direction=(constant "SLIDEOUT.DIRECTION.RIGHT")
    doClose=(route-action "cancelExportSlideout") as |slideout|}}
    <div class="form">
        <div class="form__group">
            <label for="export-start-date" class="form__label">
                Start date
            </label>
            {{datetime-control value=exportStartDate
                showTime=false
                max=(now)
                onSelect=(action (mut exportStartDate))}}
        </div>
        <div class="form__group">
            <label for="export-end-date" class="form__label">
                End date
            </label>
            {{datetime-control value=exportEndDate
                showTime=false
                max=(now)
                onSelect=(action (mut exportEndDate))}}
        </div>
    </div>
{{/slideout-pane}}

